.heroes {
	overflow: hidden;
	margin: 0 20px 20px;
	padding: 0 20px;
}

.heroes li {
	float: left;
	width: 170px;
	margin: 24px 24px 0 0;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 8px;
}

.heroes h2 {
	font-size: 28px;
	color: #69c;
}

.hero-word {
	padding-left: 10px;
	color: #999;
	margin: 0.4em 0;
}

.hero-main img {
	float: left;
	border: 1px solid #aaa;
	border-radius: 50%;
	overflow: hidden;
}

.hero-web a {
	float: left;
	font-size: 16px;
	line-height: 28px;
	margin-left: 8px;
	color: #47b;
}

.hero-web a:hover {
	color: #38b7ea;
}

.hero-main img:hover {
	box-shadow: 0 0 5px #ccc;
}